
@{
    Layout = "~/Views/Shared/_StudentsLayout.cshtml";
    ViewBag.Title = "Общежития";
}

<div>
    <div id="right_column">
        <h1 class="section_header big_section_header">Общежития</h1>
        <div class="ckedited" style="width:510px;float:left;">
            <p style="text-align: justify;">
                <span style="font-size:12px;">
                    <span style="font-family: arial,helvetica,sans-serif;">
                        <em><strong>Отдел „Студентски общежития и столове“</strong></em>, създаден 1998 г., предлага на студентите и докторантите от ТУ – София в редовна форма на обучение, чиито семейства не притежават собствено жилище на територията на Столична община, едни от най-добрите условия за живот и пълноценен отдих, с възможности за продължаване на учебния процес в извънаудиторни условия. На разположение са 10 блока студентски общежития. Три от тях - № 2, № 3 и № 4, се намират в непосредствена близост до Университета, а останалите са в Студентски град. Две от студентските общежития - № 54 и № 59, са специално обособени за настаняване на семейни студенти.<br>
                        <br>
                        Блоковете имат изградена система за контролиран достъп и постоянно видеонаблюдение. Отоплението се управлява автоматично, в зависимост от температурата на околната среда. Стаите имат необходимото обзавеждане за пълното удовлетворяване на жилищните нужди.<img alt="" src="/kcfinder/upload/images/obshtejitia.jpg" style="width: 300px; height: 198px; margin: 2px 8px; float: right;"><br>
                        <br>
                        Богатата леглова база позволява практически 100 % настаняване на желаещите, които отговарят на условията, посочени в приетите Правила за класиране.<br>
                        <br>
                        За кандидат-студентите и техните родители се предлагат нощувки по време на приемните изпити.<br>
                        <br>
                        Университетът единствен в страната има общежитие за докторанти, изградено по всички стандарти за енергийна ефективност, комфорт, уют и условия за учене.<br>
                        <br>
                        Ръководството на университета отделя специално внимание за изпълнение на изключително мащабна социално програма за реновиране на сградите и ново обзавеждане.<img alt="" src="/kcfinder/upload/images/obshtejitie.jpg" style="width: 220px; height: 131px; margin: 2px; float: left;"><br>
                        <br>
                        Собствена ремонтна група се грижи своевременно за текущи ремонти.
                    </span>
                </span><br>
                &nbsp;
            </p>
        </div>



        <div class="right_side">


            <div class="info_box">
                <span class="info_title">Адрес:</span>
                <p>
                    Технически университет-София<br>София 1000,<br> бул."Кл. Охридски" 8<br><br>
                    Блок: 1&nbsp;Етаж: 1&nbsp;Кабинет: 1152-2 / тел.02 965-3995&nbsp;
                </p>


                <div class="clear"><!--clear--></div>
            </div>
            <div class="info_box">
                <span class="info_title">Лице за контакти:</span>

                <p>
                    доц. д-р инж. Борислав Дамянов<br>
                    Email: <a class="simple_link" href="mailto:bdamian@tu-sofia.bg">bdamian@tu-sofia.bg</a><br>

                    Кабинет: 1151-1<br>
                    Тел.:02 965-3995			<br>


                </p>
                <div class="clear"><!--clear--></div>
            </div>

        </div>
    </div>
</div>

