
@{
    Layout = "~/Views/Shared/_StudentsLayout.cshtml";
    ViewBag.Title = "Студенти";
}

<div>
    <h1>За вас студенти</h1>
    <div>
        <p style="text-align:justify">
            <span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Студент в ТУ е не просто ентусиаст, който се стреми към знание и се обучава в една от образователно-квалификационните степени, но и човек, който с поведението си изразява принадлежност и заявява съпричастност към академичната общност и колегиалната среда, в която израства и се утвърждава, надгражда своите знания по необходимост - защото трябва да знае, и по убеденост - защото иска да знае.</span></span><br>
            &nbsp;
        </p>

        @*<p style="margin-left:160px; text-align:justify">
            <img alt="" src="/kcfinder/upload/images/1184828_694732853883611_1590588719_n.jpg" style="height:234px; width:350px">
        </p>*@

        <p style="text-align:justify">
            <br>
            <span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">В зависимост от вида, формата и степента, в която студентът учи, той има строго регламентирани права и задължения. Студентските права се придобиват при записване във висшето училище и се загубват при отписване, както и за срока на отстраняване от ВУ, а задълженията са посочени в Правилника на ТУ.</span></span>
        </p>

        <p style="text-align:justify">
            <br>
            <span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">За да знаеш, за да си информиран добре трябва да имаш отговорите на повечето въпроси свързани с всеки период от следването. Тук ще намериш събрано - пълно и актуално - най-важното и необходимо за учебния процес, извънаудиторните и социални дейности, спорт, почивка, развлечение и всичко наречено студентски живот.&nbsp;</span></span>
        </p>
    </div>
</div>

