
@{
    Layout = "~/Views/Shared/_StudentsLayout.cshtml";
    ViewBag.Title = "Стипендии";
}

<div>
    <div class="ckedited">
        <p>&nbsp;</p>

        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="font-size:12px">
                <span style="font-family:arial,helvetica,sans-serif">
                    &nbsp;&nbsp; <em>Уважаеми студенти,</em><br>
                    <em><strong>заявление-декларация за стипендия за летен&nbsp;семестър на учебната 2016-2017 година се попълва от интернет страницата на ТУ-София за студенти обучавани в следните факултети:</strong></em>
                </span>
            </span>
        </p>

        <ul style="margin-left:80px">
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет Автоматика</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Електротехнически факултет</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Енергомашиностроителен факултет</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Машинно-технологичен факултет</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Машиностроителен факултет</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет по електронна техника и технологии</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет по телекомуникации</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет по компютърни системи и управление</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет по транспорта</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Стопански факултет</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет по приложна математика и информатика</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет по френско обучение по електроинженерство</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет за английско инженерно обучение</span></span></li>
            <li><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Факултет за германско инженерно обучение и промишлен мениджмънт</span></span></li>
        </ul>

        <p>
            <span style="font-size:12px">
                <span style="font-family:arial,helvetica,sans-serif">
                    &nbsp;<br>
                    Студентите обучавани във Филиал Пловдив, ФиК Сливен и КЕЕ могат да ползват бланката от интернет страницата на ТУ –София като попълнат на ръка факултета и специалността, в която се обучават.<br>
                    &nbsp;<br>
                    &nbsp;
                </span>
            </span>
        </p>

        <p style="text-align:right">
            <span style="font-size:12px">
                <span style="font-family:arial,helvetica,sans-serif">
                    Главен счетоводител:<br>
                    маг. ик. Мария Иванова
                </span>
            </span>
        </p>

        <p>&nbsp;</p>

        <ul>
            <li><a href="/kcfinder/upload/files/zapowed_leten_2016-2017.pdf" target="_blank"><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">Заповед за отпускане на стипендии за ЛЕТЕН&nbsp;семестър на уч. 2016/2017&nbsp;г.</span></span></a></li>
            <li><a href="/kcfinder/upload/files/promqna_grafik_leten_stipendii.pdf" target="_blank"><span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif">ПРОМЯНА на графика за редовните стипендии по Заповед №650/20.02.2017г.</span></span></a></li>
            <li>&nbsp;<span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif"><span style="background-color:rgb(255, 255, 255); color:rgb(34, 34, 34)"><a href="/kcfinder/upload/files/zayavlenie_stip.zip" target="_blank">ЗАЯВЛЕНИЕ - ДЕКЛАРАЦИЯ </a></span></span></span><span style="background-color:rgb(255, 255, 255); color:rgb(34, 34, 34); font-family:arial,helvetica,sans-serif; font-size:12px">&nbsp;(свали, попълни и разпечати, необходим е Adobe Reader v.8.2 или по-висока версия)</span></li>
            <li><a href="/kcfinder/upload/files/Declaration%281%29.docx" target="_blank">Декларация, която се попълва от студенти приети по 103 и 228 ПМС и от страни извън ЕС (студенти без ЕГН)</a></li>
            <li><span style="background-color:rgb(255, 255, 255); color:rgb(34, 34, 34); font-family:consolas,lucida console,monospace; font-size:12px"><span style="font-family:arial,helvetica,sans-serif"><a href="/kcfinder/upload/files/deklaraciya-bashta%283%29.doc" target="_blank">ДЕКЛАРАЦИЯ за студенти</a> - бащи</span></span></li>
            <li><a href="/kcfinder/upload/files/Grafik-Leten_2016-2017%281%29.pdf" target="_blank"><span style="font-family:arial"><span style="font-size:12px">График за провеждане на кампания за кандидатстване за стипендии за успех и за стипендии за специални постижения за летния семестър на учебната 2016/2017 година</span></span></a></li>
        </ul>

        <p>&nbsp;</p>
        <!--
        <p><br />
        <a href="/kcfinder/upload/files/stipendii-otlichnici-2016.pdf" target="_blank">СПИСЪК НА СТУДЕНТИТЕ получаващи&nbsp;еднократни стипендии</a></p>

        <p>&nbsp;</p> -->
    </div>
</div>

